# Default values for nginx
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  registry: docekr.io
  repository: nginx
  tag: 1.19.0
  pullPolicy: Always

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

service:
  type: NodePort
  targetPort: 80		# container app. itself
  port: 8099			# pod
  nodePort: 8099		# cluster-wise
  externalTrafficPolicy: Local
  externalIPs: [192.168.1.100]

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []

  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

persistence:
  enabled: true
  pvcName: nginx-pvc
  storageClassName: nginx-pv-class
  accessMode: ReadWriteOnce
  size: 10Gi

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

env:
  #url: http://sosa0sa.com:2368
  #node_env: production

  nginxServerBlock: |-
    server {
    listen 0.0.0.0:{{ .Values.containerPort }};

    # You can provide a special subPath or the root
    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }
    }
